<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Научное исследование связи дерматоглифики и системно-векторной психологии</title>
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    </head>
        
    <body>
        
        <div class="container">
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="span12">
                    <h3>404</h3>
                    <p>Страница не найдена.</p>
                </div>

            </div>
                        
            <hr />
            <footer>
                <p>&copy; annkpx 2012</p>
            </footer>
        </div>
    </body>
</html>  
